body {
  font-family: "sans-serif";
  margin:0px;
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  margin:0px;

  text-align: center;
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color:rgb(230, 230, 12);
}

.contents {
  background-color: #fff;
  height: 500px;
  margin-top: 100px;
}

.Tentang {
  background-color: #bbbbbb;
  height: 200px;
  margin-top: 200px;
  
  padding: 50px 50px;
}



.section-title2 {
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.button{

margin-bottom: 50px;
padding-bottom: 50px;

}

.section-title {
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right: 100px;
  margin-left: 100px;

}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contact-form {
  background-color: #bbbbbb;
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  padding-top: 50px;
  text-align: center;
}

/* Tambahkan CSS untuk tags <input> dan <textarea> */
input {
  
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:2px solid #dee7ec;
}



/* Tambahkan CSS untuk contact-submit */
.contact-submit{
  background-color:#c7ca05;
  color:#889eab;
  border-radius: 10px;
}

.isi {
  color: rgba(0, 0, 0, 0.219);
}

.message{
  color: rgba(0, 0, 0, 0.219);
}

.footer {
  background-color: #26d0c9;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}


.contents2 {
  background-color: #fff;
  height: 500px;
  margin-top: 100px;
}
